/* General Styles */
body {
  font-family: "comic neue";
  margin: 0;
  padding: 0;
  padding-bottom: 60px;
  color: #333;
  background-color: #f4f4f4;
}

header {
  background-color: #4CAF50;
  color: #fff;
  padding: 1rem 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

/* Hero Section */
#hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #222;
}
.herotxt {
  background: url('Photos/IMG_4779.jpg') no-repeat center center/cover;
  
}
.heroimg {
  width:100%;

}
#hero h1 {
  font-size: 2.5rem;
  margin: 0;
  color: #f4f4f4;
  background-color: #4dc251;
  border-radius: 20px;
  padding: 5px;


}

#hero p {
  font-size: 1.2rem;
  margin: 10px 0;
  color: #f4f4f4;

}

.cta {
  background-color: #ff5722;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 350px;
}

.cta:hover {
  background-color: #e64a19;
}

/* Sections */
section {
  padding: 40px 20px;
  text-align: center;
}

section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

section p {
  font-size: 1rem;
  margin-bottom: 20px;
}

section a {
  color: #4CAF50;
  text-decoration: none;
}

section a:hover {
  text-decoration: underline;
}

/* Initiatives & Events */
#initiatives .initiative, #events .event {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  text-align: left;
}

#initiatives .initiative h3, #events .event h3 {
  margin-top: 0;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right:0;
}

footer p {
  margin: 5px 0;
}

footer ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

footer ul li {
  margin: 0 10px;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
}

footer ul li a:hover {
  text-decoration: underline;
}
